<% breadcrumb :profile_edit, @user %>
<%= render 'devise/shared/breadcrumbs', breadcrumbs: breadcrumbs %>
<h1 class="registrations-edit-head">プロフィールの編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="registrations-edit-wrapper">
    <div class="registrations-edit-form">
      <%= f.label :username %><br />
      <%= f.text_field :username, class: 'edit-form', autofocus: true %>
    </div>

    <div class="registrations-edit-form">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'edit-form', autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="registrations-edit-form">
      <%= f.label :current_password %> <i>(パスワードを変更する場合は現在のパスワードを入力してください)</i><br />
      <%= f.password_field :current_password, class: 'edit-form', autocomplete: "current-password" %>
    </div>
  
    <div class="registrations-edit-form">
      <%= f.label :password %> <i>(パスワードを変更しない場合は空白にしてください)</i><br />
      <%= f.password_field :password, class: 'edit-form', autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em>半角英数(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
    </div>
  
    <div class="registrations-edit-form">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'edit-form', autocomplete: "new-password" %>
    </div>
  
    <div class="registrations-edit-submit">
      <%= f.submit "プロフィールを変更する", class: "registrations-btn" %>
    </div>
  </div>
<% end %>

<div class="destroy-user-wrapper">
  <h3>アカウントの削除</h3>

  <p>アカウントを削除しますか？</p>
  <div class="destroy-submit">
    <%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "destroy-btn" %>
  </div>
</div>
<%= link_to "マイページに戻る", :back %>
