<h1 class="registrations-new-head">新規登録</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="registrations-new-wrapper">
    <div class="left">
      <%= f.file_field :image, class: "image" %>
      <div class="form-image", onClick="$('#user_image').click()">
        <i class="fa fa-user" aria-hidden="true"><p class="help-block">アイコンを登録してください</p></i>
      </div>
    </div>
    
    <div class="right">
      <div class="registrations-new-form">
        <%= f.label :username %><br />
        <%= f.text_field :username, class: 'new-form', autofocus: true %>
      </div>
      <div class="registrations-new-form">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'new-form', autofocus: true, autocomplete: "email" %>
      </div>
      <div class="registrations-new-form">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>半角英数(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, class: 'new-form', autocomplete: "new-password" %>
      </div>
    
      <div class="registrations-new-form">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'new-form', autocomplete: "new-password" %>
      </div>
    </div>
  </div>
  <div class="registrations-new-submit">
    <%= f.submit "ユーザーを作成", class: "registrations-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

