<% if user_signed_in? %>
  <% if post.favorite_by?(current_user) %>
    <div class="unfavorite-btn-wrapper">
      <%= link_to post_favorites_path(post_id: post.id), class: "nav-link", method: :delete, remote: true do %>
        <i class="fas fa-heart unfavorite-btn"></i><span class="favo_count"><%= post.favorites.count %></span>
      <% end %>
    </div>
  <% else %>
    <div class="favorite-btn-wrapper">
      <%= link_to post_favorites_path(post_id: post.id), class: "nav-link", method: :post, remote: true do %>
        <i class="far fa-heart favorite-btn" ></i><span class="unfavo_count"><%= post.favorites.count %></span>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% if post.favorites.count > 0 %>
    <div class="unfavorite-btn-wrapper">
      <i class="fas fa-heart unfavorite-btn"></i><span class="favo_count"><%= post.favorites.count %></span>
    </div>
  <% else %>
    <div class="favorite-btn-wrapper">
      <i class="far fa-heart favorite-btn" ></i><span class="unfavo_count"><%= post.favorites.count %></span>
    </div>
  <% end %>
<% end %>