<div class="user-detail-wrapper">
  <div class="user-detail">
    <div class="user-detail-left">
      <div class="user-image">
        <% if user.image? %>
          <%= link_to image_tag(user.image.to_s, size: '130x130', class: "user-image-circle"), user_path(user) %>
        <% else %>
          <%= link_to image_tag('/images/user.png', size: '130x130', class: "user-image-circle"), user_path(user) %>
        <% end %>
      </div>
      <div class="user-name">
        <p><%= link_to user.username, user_path(user), class: "nav-link" %></p>
      </div>
      <% if current_user == user && !user.guest %>
        <%= link_to "アイコンの変更", edit_user_path(user) %>
      <% end %>
    </div>
    <div class="user-detail-right">
      <%= render 'relationships/follow_button', user: user %>
      <div class="border"><i class="fas fa-image"></i> 投稿数 <span><%= user.posts.count %></span></div>
      <div class="border"><i class="fas fa-heart"></i> いいねした数 <span><%= user.favorites.count %></span></div>
      <% if current_user == user %>
        <% if !user.guest %>
          <div class="edit-button"><%= link_to "プロフィール編集", edit_user_registration_path(current_user), class: "nav-link" %></div>
        <% else %>
          <p class="note">ゲストユーザーはプロフィールを編集できません</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
