<% breadcrumb :icon_edit, @user %>
<%= render 'devise/shared/breadcrumbs', breadcrumbs: breadcrumbs %>

<h2 class="icon-edit-title">アイコンを変更できます</h2>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="icon-edit-wrapper">
    <div class="icon-edit-form">
      <%= f.file_field :image, class: "image" %>
      <div class="edit-form-image", id="edit_avator_field", onClick="$('#user_image').click()">
        <% if @user.image.url.present? %>
          <%= image_tag(@user.image.url, class: "preview") %>
        <% else %>
          <i class="fa fa-user" aria-hidden="true"><p class="help-block">アイコンを登録してください</p></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="icon-edit-submit">
    <%= f.submit "変更する", class: "icon-edit-btn" %>
  </div>
<% end %>

<%= link_to "マイページに戻る", :back %>


<script type="text/javascript">
  $('#user_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('ファイルサイズは5MB以下にしてください。');
    }
  });

  // 画像プレビューを表示
  $(function(){
    $fileField = $('#user_image')
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#edit_avator_field");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });
</script>
