<h1>Users#show</h1>
<p>ユーザ名 : <%= @user.username %><i class="material-icons">favorite</i></p>
<p>メールアドレス : <%= @user.email %></p>
<% if @user.image? %>
  <%= image_tag @user.image.to_s, class: 'mypage-article-img' %>
<% else %>
  <p>失敗</p>
<% end %>

<% if @user.posts.any? %>
  <% @user.posts.each do |post| %>
    <%= post.name %>
    <%= post.information %>
    <%= post.prefecture.name %>
    <%= image_tag post.image.to_s %>
    <%= link_to "削除", post, method: :delete, data: { confirm: 'You sure?' }, class: 'delete-btn' %>
  <% end %>
<% end %>

<%= render 'relationships/follow_button', user: @user %>
<%= link_to '新規投稿', new_post_path %>

<%= link_to 'トップページ', root_path %>