<div class="user-detail-wrapper">
  <div class="user-detail">
    <div class="user-detail-left">
      <div class="user-image">
        <% if @user.image? %>
          <%= image_tag @user.image.to_s, size: '130x130', class: 'user-image-circle' %>
        <% else %>
          <%= image_tag '/images/user.png', size: '130x130', class: 'user-image-circle' %>
        <% end %>
      </div>
      <div class="user-name">
        <p><%= @user.username %></p>
      </div>
    </div>
    <div class="user-detail-right">
      <ul>
        <li><span><%= @count_followings %></span>フォロー</li>
        <li><span><%= @count_followers %></span>フォロワー</li>
        <li><%= render 'relationships/follow_button', user: @user %></li>
      </ul>
      <div><i class="fas fa-image"></i> 投稿数<span><%= @count_posts %></span></div>
      <div><i class="fas fa-heart"></i> いいねした数<span><%= @count_favorites %></span></div>
      <div><%= link_to "編集ページ", edit_user_registration_path(current_user) %></div>
    </div>
  </div>
</div>


<% if @user.posts.any? %>
  <%= render 'posts/posts', posts: @posts %>
<% end %>




