<h1 class="post-new-head">新しい投稿</h1>

<%= form_with(model: @post, local: true) do |f| %>
  <div class="post-new-wrapper">
  <% @post.errors.full_messages.each do |msg| %>
    <li class="red-text"><%= msg %></li>
  <% end %>
    <div class="post-new-top">
      <div class="left">
        <%= f.file_field :image, class: "image" %>
        <div class="form-image", id="img_field", onClick="$('#post_image').click()">
          <% if @post.image.url.present? %>
            <%= image_tag(@post.image.url) %>
          <% else %>
            <i class="fas fa-camera"><p class="help-block">※ 5MBまでの画像をアップロードできます<i class="fas fa-asterisk"></i></p></i>
          <% end %>
        </div>
      </div>
      
      <div class="right">
        <div class="post-form">
          <%= f.text_field :name, placeholder: "名称", class: "text_field post_field" %>
          <span class="label"><%= f.label :name %><i class="fas fa-asterisk"></i></span>
        </div>
        <div class="post-form">
          <%= f.text_area :information, placeholder: "キャプション", class: "text_area post_field" %>
          <span class="label"><%= f.label :information %></span>
        </div>
        <div class="post-form">
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "都道府県を選択してください", selected: @post.prefecture_id}, {class: "select_box post_field"} %>
          <span class="label"><%= f.label :prefecture_id, "都道府県" %><i class="fas fa-asterisk"></i></span>
        </div>
        <div class="post-form">
          <div id="cities_select">
            <%= render 'cities', prefecture_id: @post.prefecture_id %>
          </div>
        </div>  
      </div>
    </div>
    
    <div class="post-new-submit">
      <%= f.submit "投稿", class: "post-btn" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#post_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('ファイルサイズは5MB以下にしてください。');
    }
  });

  // 画像プレビューを表示
  $(function(){
    $fileField = $('#post_image')
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });
</script>

