<div class="post-detail-container">
  <div class="post-wrapper">
    <div class="left">
      <div class="user-info">
        <div class="user-icon">
          <% if @post.user.image? %>
            <%= link_to image_tag(@post.user.image.to_s, class: "user-image"), user_path(@post.user) %>
          <% else %>
            <%= link_to image_tag('/images/user.png', class: "user-image"), user_path(@post.user) %>
          <% end %>
        </div>
        <div class="user-name">
          <p><%= link_to @post.user.username, user_path(@post.user), class: "nav-link" %></p>
        </div>
      </div>
      <div class="post-image-wrapper">
        <%= image_tag @post.image.to_s, class: "post-image" %>
      </div>
    </div>
    
    <div class="right">
      <ul>
        <li><%= @post.name %></li>
        <li>
          <% if @post.information? %>
            <%= @post.information %>
          <% else %>
            <p>(キャプション)</p>
          <% end %>
        </li>
        <li><i class="fas fa-location-arrow"></i><%= @post.prefecture.name %><%= @post.city.name %></li>
        <li><i class="far fa-clock"></i><%= @post.created_at.to_s(:datetime_jp) %></li>
      </ul>
      <div class="content">
        <div class="content-left" id="favorites_buttons_<%= @post.id %>">
          <%= render 'favorites/favorite_button', post: @post %>
        </div>
        <div>
          <i class="fa fa-commenting" aria-hidden="true"></i><span class="comment_count"><%= @post.comments.count %></span>
        </div>
      </div>
      <%= render 'posts/score', post: @post %>
      <% if user_signed_in? %>
        <div class="comment-form-wrapper">
          <%= form_with(model: [@post, @comment], local: true) do |f| %>
            <div class="comment-form">
              <%= f.text_field :content, class: "text_area" %>
              <%= f.label :content %>
            </div>
            <%= f.submit "コメントする", class: "comment-btn" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="comment-container">
    <% if @comments.any? %>
      <p class=title>コメント欄</p>
    <% end %>
    <% @comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <div class="comment-wrapper">
          <div class="left">
            <div class="user-icon">
              <% if comment.user.image? %>
                <%= link_to image_tag(comment.user.image.to_s, class: "user-image"), user_path(comment.user) %>
              <% else %>
                <%= link_to image_tag('/images/user.png', class: "user-image"), user_path(comment.user) %>
              <% end %>
            </div>
            <div class="user-name">
              <%= link_to comment.user.username, user_path(comment.user), class: "nav-link" %>
            </div>
          </div>
          <div class="right">
            <p class="content"><%= comment.content %></p>
            <div class="time">
              <%= comment.created_at.to_s(:datetime_jp) %>
              <% if comment.user == current_user %>
                <%= link_to comment_path(comment), method: :delete, data: { confirm: 'You sure?' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= paginate @comments %>
  </div>
</div>