<!DOCTYPE html>
<html>
  <head>
    <title>Hotspotdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <script src="https://kit.fontawesome.com/7d5912329b.js" crossorigin="anonymous"></script>
    
  </head>

  <body>
    
    <%= render "devise/shared/header" %>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <%= render "devise/shared/footer" %>
    <%#<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
  </body>
</html>
